{% extends "blog/base.html" %}

{% block content %}

  {% if form.errors %}
    <div class="alert alert-warning" role="alert">
      A simple warning alert—check it out!
    </div>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      {{ form.username.label_tag }}<br>
      {{ form.username }}
      <br>
      {{ form.password.label_tag }}<br>
      {{ form.password }}
      <br>
        <button class="btn btn-lg btn-primary btn-lg" type="submit" value="login">Entrar</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Esqueci minha senha</a></p>
  
{% endblock %}